.background {

  position: absolute;
  width: 100%;
  height: 100%;

  background-image:
    url(../img/001_start/PNG/floor.png),
    url(../img/001_start/PNG/clouds.png),
    url(../img/001_start/PNG/sky.png);

  background-position: bottom center, center 15%;

  background-size: 100% 50%, 75%;

  background-repeat: no-repeat, no-repeat, repeat;

}

header {

  position: absolute;
  width: 100%;
  height: 90px;
  line-height: 90px;

  overflow: hidden;

  font-size: 40px;
  font-family: 'Lucida Console', Monaco, monospace;
  text-align: center;

  background-color: rgba(255,255,255, .9);

}

#monster {

  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

  max-width: 90%;
  min-width: 150px;

  max-height: 50%;
  min-height: 150px;

}

.tamagotchi-start {

  position: absolute;
  top: 75%;
  left: calc(50% - 113px);
  width: 227px;
  height: 71px;

  min-height: 50px;

  background: url(../img/001_start/PNG/btn_play.png);
  background-size: 100%;

}


footer {
  z-index: 101;
  position: absolute;
  bottom: 0px;
  height: 15%;
  width: 100%;
  background: #fff url(../img/002_interface/PNG/bottom_line.png) top center repeat-x;
  padding-top: 16px;
  padding-bottom: 5px;
}

footer .tamagotchi-button {
  width: 33%;
  float: left;
  height: 100%;
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
}

footer .tamagotchi-button.eat {
  background-image: url(../img/002_interface/PNG/eat.png);
}

footer .tamagotchi-button.sleep {
  background-image: url(../img/002_interface/PNG/sleep.png);
}

footer .tamagotchi-button.wake_up {
  background-image: url(../img/002_interface/PNG/wake_up.png);
}

footer .tamagotchi-button.play {
  background-image: url(../img/002_interface/PNG/play.png);
}

.night {
  z-index: 100;
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  background: rgba(0,0,0,.7);
}

.info {
  z-index: 101;
}

.info.bright {
  color: #fff;
  position: absolute;
}
